# Quiz Game
question = {"Bermuda Triangle is region located in Indian Ocean.": "False",
            "Max Verstappen won the Formula 1 Championship 2022.": "True",
            "Spanish language has the more native speakers.": "True",
            "Tea contains more caffeine than coffee and soda": "False",
            "The first Starbucks opened in Portland": "False",
            "Punjab is known as the City of Pearls.": "False",
            "DAMN is Kendrick Lamar's best-selling album.": "True",
            "Charles Babbage is called Father of Computers": "True",
            "Kanye West holds the record for most Grammy awards": "False",
            "Pluto is smaller than Australia.": "True"}  # Pool of questions
import random

questionlist = []
while (len(questionlist) != 5):  # list of 5 questions
    i = random.choice(list(question.keys()))  # Choose Random question from question pool and make a list of it
    if (i not in questionlist):
        questionlist.append(i)  # make a list of random qustions
score = 0
for i in questionlist:
    print("\n" + i)
    a = input("\nEnter True or False: ")
    if (a == question[i]):
        print("\nRight answer! +5 points")
        score += 5
    else:
        print("\nWrong answer!")
print("\nTotal Score is :", score)
